* {
    font-family: Calibri;
    margin: 0;
    text-align: center; /*Wennn Text vorhanden in einem Block, dann mittig*/
}

body {
    background: black;
    overflow: hidden; /*Für Scrollbars*/
}

#carCanvas {
    background: lightgray;
}

#nnCanvas {
    background: darkgray;
    margin-left: 10%;
    margin-bottom: 5%;
}