* {
    font-family: Calibri, -apple-system, BlinkMacSystemFont;
    margin: 0;
    text-align: center;
    color: black; /*für apple fonts hier, ansonsten sind die blau*/
}

body {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

/* carDiv */

#carDiv {
    display: flex;
}

#carCanvas {
    background: lightgray;
}

#btnDiv {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

#populationCounter{
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 20px yellow;
}

button {
    font-size: 30px;
    margin: 8px;
    border-radius: 10px 10px;
    cursor: pointer;
    background: lightgray;
    transition: color 0.2s ease-in-out;
}

button:hover {
    box-shadow: 2px 2px 20px white;
    color: white;
}

#sliderDiv {
    font-size: 22px;
}

.checkBoxSliderButton_Class {
    font-size: 22px;
    background: darkgray;
    border-radius: 10px 10px;
    border: 1px solid black;
}
.checkBoxSliderButton_Class .checkbox{
   scale: 1.5;
}
.checkBoxSliderButton_Class label{
    color: white;
 }
 .checkBoxSliderButton_Class button{
    margin: 5px;
 }

 /* Tooltip Class */
 .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 22px;
    opacity: 0;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    transform: translateX(60%);
    top: -20%;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
    transition-delay: 1s;
    visibility: visible;
  }


/* carDiv */





/* nnDiv */

#nnDiv {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#nnCanvas {
    margin-top: 5vh;
}

h1 {
    font-size: 300%;
    color: white;
}

a {
    color: khaki;
}



/*Falls ein Handy*/
@media screen and (max-width: 1000px) {
    body {
      display: flex;
      flex-direction: column;
      overflow:auto;
    }

    h1 {
        margin-top: 40px;
        font-size: 200%;
    }

    #nnDiv {
        width: 100vw;
    }

    #btnDiv {
        padding: 5px
    }
  }